cjs
esm
logs
build
node_modules
npm-debug.log*
dist.css
# Coverage directory used by tools like istanbul
coverage
__snapshots__

# Optional eslint cache
.DS_Store
# dotenv environment variables file
.env
.env.test
.eslintcache
.cache
# Optional npm cache directory
.npm
# next.js build output
.next
# nuxt.js build output
.nuxt
.rdoc-dist
.vscode
.idea

*.log
*.bak
*.tem
*.temp
*.pid
*.seed
*.pid.lock
#.swp
*.*~
~*.*

# IDEA
*.iml
*.ipr
*.iws
.idea/